<footer>
    <p class="copyright">Made by mclown with 🧠</p>
    <img class="ecole-logo" src="/img/ecole-42-icon.png">
    <a class="rabbit-a" href="https://github.com/Mitia-Avadiaev/Camgru" target="_blank">
        <p class="copyright rabbit-caption">Go to GitHub repository</p>
    </a>
</footer>