<!doctype html>
<html lang="en">
    <%- include('./partials/_head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main id="confirm-email" class="confirm-email-page">
            <p class="primary-message">Almost there!</p>
            <button class="submit" id="confirm-email-button">CONFIRM EMAIL</button>
            <p class="secondary-message">Click the button to confirm your email address.</p>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>