<!doctype html>
<html lang="en">
    <%- include('./partials/_head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main class="error-page">
            <p class="primary-message primary-message-err">404 Not Found</p>
            <p class="secondary-message secondary-message-err">We didn't find this resource on the server.</p>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>