<!doctype html>
<html lang="en">
    <%- include('./partials/_head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form class="form sign-in-form" id="new-password-form">
                <label for="password" class="label">New password</label>
                <input type="password" id="password" name="password" class="input">
                <label for="password-confirm" class="label">New password</label>
                <input type="password" id="password-confirm" name="password-confirm" class="input">
                <div class="submit-container">
                    <input disabled type="submit" id="submit" class="submit" value="RESET PASSWORD">
                </div>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>