<!doctype html>
<html lang="en">
    <%- include('./partials/_head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form class="form sign-in-form" id="reset-password-form">
                <label for="email" class="label">Email</label>
                <input type="email" id="email" name="email" class="input">
                <div class="submit-container">
                    <input disabled type="submit" id="submit" class="submit" value="SEND LINK">
                </div>
            </form>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>